*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: rgb(188, 194, 199);
}

body .inner-content-main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%; 
  margin: auto;
  flex-direction: column;
}



.inner-content-main form label {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    line-height: 44px;
    font-family: cursive;
}
 
body .inner-content-main form {
    width: 420px;
}


.inner-content-main form  input{
  display: block;
  border: 1px solid rgb(0, 13, 71);
  height: 40px;
  width: 100%;
  margin: 5px 0 10px 0;
  padding: 10px 14px;
}

.inner-content-main form  button{
  border: none;
  width: 100%;
  display: block;
  padding: 4px 0;
  text-align: center;
  color: #fff;
  font-family: cursive;
  padding: 8px 0;
  background-color:rgb(0, 13, 71);
}



body .inner-content-main .inner-data li{
  list-style: none;
  margin: 10px 0;
  font-weight: 600;
  font-size: 15px;
}

body .inner-content-main .inner-data li span{
  color: rgb(0, 13, 71);
  font-style: italic;
  font-size: 20px;
  margin-left: 20px;
}


body .inner-content-main form {
    width: 420px;
}

body .inner-content-main .inner-data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: 420px;
  flex-direction: column; 
  background: lightblue;
  border-radius: 23px;
  padding: 20px 0;
}